h1 {
  color: #f1c97d;
}

.right.carousel-control, .left.carousel-control {
  display: none;
}

.searchbarLanding { 
  padding-bottom: 10px; 
}

.carousel-indicators li { visibility: hidden; }

.landingPhoto {
padding-top: 40px; 
}

.carousel { 
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}

.slideshowImage { 
  zoom: -100%; 
}


.landingPageFeatured {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.landingPageHeader {
  width: 50%;
  margin: 10px auto;
}

.header img {
  width: 10%;
  margin-left: 32%;
  margin-right: auto;
}

.header {
  position: absolute;
  margin-left: 20%;
  margin-right: auto;
  z-index: 0;
  margin-top: -20%; 
  color: rgb(209, 255, 4);
}

.Modal {
  z-index: 4;
}

.LandingFavoritesContainer{ 
  margin-top: 20px; 
}

.header h1 {
  font-size: 90px;
  margin: 0;
  text-shadow: 7px 7px 7px #000000;
}

.landButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  width: 70%;
  margin-left: 42%;
  margin-right: auto;
}

.button {
  margin-left: 20px;
}
/*reactive screen settings*/
@media only screen and (max-width: 475px) {
  .landingPage{
    /* background-color: ; */
    margin-right:15px;
  }
  
  .right.carousel-control, .left.carousel-control {
    display: flex;
  }
  
  .searchbarLanding {
    display: flex; 
    padding-bottom: 5px; 
  }
  .landingPageHeader{
    font-size: 20px;
  }
  
  .carousel-indicators li { visibility: hidden; }
  
  .landingPhoto {
    max-height: 150px;
    padding-top: 10px;
    height: 12%; 
  }

  
  .carousel { 
    max-height: 150px;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
  }
  .carousel-slide{
    margin-right: 0px;
    padding-left: 0px;
  }
  .searchbarLogoName{
    margin-top: 5px;
    width: 30%;
  }
  .searchbarLogo{
    margin-left:40%;
    width: 11%;
   
    
  }
  .ReactModal_content--after-open{
    width:80%;
  }
  
  .slideshowImage {
    width: 100%; 
    max-height: 150px;
    zoom: -100%; 
  }
  
  
  .landingPageFeatured {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .landingPageHeader {
    width: 50%;
    margin: 10px auto;
  }
  
  .header img {
    width: 10%;
    margin-left: 32%;
    margin-right: auto;
  }
  
  .header {
    font-size:38%;
    margin-left: 18%;
    margin-right: auto;
    z-index: 0;
    margin-top: -26%; 
    color: rgb(209, 255, 4);
  }
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .Modal {
    z-index: 4;
  }
  
  .LandingFavoritesContainer{ 
    
  }
  
  .header h1 {
    font-size: 26px;
    float: left;
    margin: 0;
    padding-right: 8px;
    text-shadow: 7px 7px 7px #000000;
  }
  
  .landButton {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    width: 70%;
    margin-left: 59%;
    margin-right: auto;
    
  }
  
  .button {
    padding: 0px;
    margin-left: 6px;
    max-width: 69px;
    max-height: 27px;
  }

  .recipeImg{
    margin-left: 2px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
  }
  .recipeBox{
    display: block;
    width: 98%;
    margin-bottom: 40px;
  }

}